<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INStartVideoCallIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Start a video call</string>
				<string>Start a video call in Stvdio</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSendMessageIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Send a message</string>
				<string>Send a message in Stvdio</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INStartAudioCallIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Start an audio call</string>
				<string>Start an audio call in Stvdio</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
