// 
// Copyright 2021 Vector Creations Ltd
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//


// App identity
BUNDLE_DISPLAY_NAME = Holedo Chat
BASE_BUNDLE_IDENTIFIER = com.holedo.limited.holdeo.hub
APPLICATION_GROUP_IDENTIFIER = group.holedo.limited
APPLICATION_SCHEME = element

// Team
DEVELOPMENT_TEAM = 9JBM522WHL


// Provisioning profiles
RIOT_PROVISIONING_PROFILE_SPECIFIER = com.holedo.limited.holdeo.hub
RIOT_PROVISIONING_PROFILE = c16cb0fc-1278-4707-8eaf-c8fa9c3999bf

NSE_PROVISIONING_PROFILE_SPECIFIER = "com.holedo.limited.holdeo.hub.nse"
NSE_PROVISIONING_PROFILE = 4509acfb-eeec-4aeb-a771-de283dc50af0

SHARE_EXTENSION_PROVISIONING_PROFILE_SPECIFIER = "com.holedo.limited.holdeo.hub.shareExtension"
SHARE_EXTENSION_PROVISIONING_PROFILE = 7ad7408a-2f88-4327-9aa2-a4def44993de

SIRI_INTENTS_PROVISIONING_PROFILE_SPECIFIER = "com.holedo.limited.holdeo.hub.SiriIntents"
SIRI_INTENTS_PROVISIONING_PROFILE = 8ec716a9-9bb5-4f90-8e98-edf96b477d8c
