// 
// Copyright 2021 Vector Creations Ltd
//
// SPDX-License-Identifier: AGPL-3.0-only
// Please see LICENSE in the repository root for full details.
//

// This file defines project settings for Release.
// Targets (App, extensions) xcconfig files automatically include it for Release build.

#include "Project.xcconfig"
#include "Project-Warnings.xcconfig"

COPY_PHASE_STRIP = YES
ENABLE_NS_ASSERTIONS = NO
MTL_ENABLE_DEBUG_INFO = NO
VALIDATE_PRODUCT = YES

SWIFT_COMPILATION_MODE = wholemodule


// Code signing: Manual
CODE_SIGN_IDENTITY = iPhone Distribution
CODE_SIGN_STYLE = Manual
