<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:www.vector.im</string>
		<string>applinks:vector.im</string>
		<string>applinks:riot.im</string>
		<string>applinks:www.riot.im</string>
		<string>webcredentials:riot.im</string>
		<string>applinks:element.io</string>
		<string>applinks:app.element.io</string>
		<string>applinks:staging.element.io</string>
		<string>applinks:develop.element.io</string>
		<string>applinks:mobile.element.io</string>
		<string>webcredentials:*.element.io</string>
	</array>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.$(CFBundleIdentifier)</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudDocuments</string>
	</array>
	<key>com.apple.developer.siri</key>
	<true/>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>iCloud.$(CFBundleIdentifier)</string>
	</array>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>$(TeamIdentifierPrefix)$(CFBundleIdentifier)</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>$(APPLICATION_GROUP_IDENTIFIER)</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(KEYCHAIN_ACCESS_GROUP)</string>
	</array>
</dict>
</plist>
