// 
// Copyright 2023 Vector Creations Ltd
//
// SPDX-License-Identifier: AGPL-3.0-only
// Please see LICENSE in the repository root for full details.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Config/AppIdentifiers.xcconfig"
#include "Config/AppVersion.xcconfig"

PRODUCT_NAME = BroadcastUploadExtension
PRODUCT_BUNDLE_IDENTIFIER = $(BROADCAST_UPLOAD_EXTENSION_BUNDLE_IDENTIFIER)

INFOPLIST_FILE = BroadcastUploadExtension/SupportingFiles/Info.plist

CODE_SIGN_ENTITLEMENTS = BroadcastUploadExtension/SupportingFiles/BroadcastUploadExtension.entitlements
        
SKIP_INSTALL = YES
